html{
text-align: center;
}
body {
margin: 0;
padding: 0;
font-family: sans-serif;
}
button{
width: 100px;
}
ul{
padding: 0;
margin: 10px 0 0 0;
}
li{
list-style-type: none;
line-height: 1.6em;
margin: 0 auto;
width: 45%;
}
.todo{
margin: auto;
min-height: 400px;
width: 400px;
background-color: lightblue;
}
